@import "styles/mixins";

.modal-content {
  border: none !important;
  padding: 1rem;
  & h2,
  #modal-subtitle {
    text-align: center;
    color: $primary-light;
    font-weight: 600;
  }
  & h2 {
    font-weight: bold;
    color: $primary;
  }
  & #modal-subtitle {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
}
.modal-actions {
  display: flex;
  margin-top: 2rem;
  & button {
    width: 100%;
    &:first-child {
      margin-right: 1rem;
    }
  }
}

#winner-modal {
  & button {
    width: 100%;
    &:last-child {
      color: $primary;
    }
  }
}
