@import "styles/mixins";

.auth {
  background-color: $primary;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & h1 {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  & a[class="auth_redirect"] {
    display: block;
    text-align: center;
    margin-top: 0.8rem;
    font-weight: 500;
    font-size: 0.9rem;
    color: $primary-light;
  }
}

.box {
  background-color: white;
  width: 27rem;
  padding: 2.2rem;
  border-radius: 1rem;
}
