@import "styles/mixins";

.formGroup {
  margin-bottom: 1.5rem;
  & p {
    color: $primary-light;
    font-size: 0.9rem;
  }
  & div[class="form-select"] {
    display: flex;
    & button {
      @include button($secondary, white);
      margin: 0 0.5rem;
      width: 100%;
    }
  }
}
