@import "styles/mixins";

.settings {
  background-color: $primary;
  min-height: 100vh;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & h1 {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.box {
  background-color: white;
  width: 27rem;
  padding: 2.2rem;
  border-radius: 1rem;

  & button[id="start-game-button"] {
    @include button($orange, white);
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.1rem;
  }
}
