@import "styles/mixins";

.game {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
}

.game-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  & h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: $primary;
  }
  & button {
    @include button($secondary-light, $primary);
    &[name="Restart"] {
      @include button($orange, white);
      margin: 0 1rem;
    }
  }
}

.game-board {
  margin: auto;
  display: flex;
  max-width: 360px;
  flex-wrap: wrap;
  & .memory-card {
    background-color: $primary;
    margin: 0.5rem;
    border-radius: 50%;
    color: white;
    padding: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    transition: 0.2s ease;
    content-visibility: hidden;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      transform: scale(0.97);
      transition: transform 0.2s;
    }
  }
  & .flip {
    transform: rotateY(180deg);
    content-visibility: visible;
    background-color: $orange;
  }
  & .matched {
    transform: rotateY(180deg);
    background-color: $secondary;
    content-visibility: visible;
  }
}
